<h1>Content Management System</h1> 
<ul>
  <% @files.each do |name| %>
    <li>
    	<a href="/<%= name %>"><%= name %></a>
    	<a href="/<%= name %>/edit">Edit</a>
    	<form class="inline" method="post" action="<%= name %>/delete">
    		<button>Delete</button>
    	</form>
    </li>
  <% end %>
</ul>
<a href="/new">New Document</a>

<% if !session[:user].nil? %>
<form action="/users/signout" method="post">
	<label>Signed in as <%= session[:user][:username] %>.</label>
	<button>Sign out</button>
</form>
<% else %>
<a href="/users/signin">Sign in</a>
<% end %>